*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(todo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 500;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    background-color:#424242;
    width: 550px;
    height: auto;
    min-height: 400px;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 1px 18px 32px rgba(8, 8, 8, 0.1);
    border: 1px solid  #424242;
}
h1{
    color: #eee;
    margin-bottom: 30px;
    text-align: center;
}
.input-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}
.todo-input{
    flex:1;
    outline: none;
    padding: 10px 10px 10px 20px;
    background: #333333;
    border:1px solid #333333;
    border-radius: 5px;
    color :#eee;
    font-size: 16px;
    margin-right: 10px;
    padding:5px;
}
.todo-input::placeholder{
    color:#eee;
}
.add-button{
    border: none;
    outline:none;
    background: #333333;
    color:#EEE;
    font-size: 35px;
    cursor: pointer;
    border-radius: 5px;
    width:40px;
    height:39.5px;
}
.empty-img{
    margin: 3px auto 0;
    display: block;
    width: 89%;
}
.todo{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333333;
    border-radius: 5px ;
    margin: 16px 0;
    padding: 10px 12px;
    border:1px solid #333333;
    transition: all 0.2s ease;
}
.todo:first-child{
    margin-top: 0;
}
.todo:last-child{
    margin-bottom: 0;
}
.todo:hover{
    background-color: #7AB2B2;
}
.todo label{
    cursor: pointer;
    display: flex;
    align-items: center;
    font-family: "Roboto Condensed", sans-serif;
    color: #eee;
}
.todo span{
    padding-left: 20px;
    position: relative;
    cursor: pointer;
}
span::before{
    content: "";
    height: 20px;
    width: 20px;
    position: absolute;
    margin-left: -30px;
    border-radius: 100px ;
    border:1px solid #eee;
}
input[type='checkbox']{
    visibility: hidden;
}
.todo:hover input:checked + span::before , input:checked + span::before{
    background: url(check.svg) 50% 50%   #09bb21;
    border-color: #09bb21;
}
.todo:hover span::before{
    border-color: #eee;
}
.todo .delete-btn{
    background-color: transparent;
    border : none;
    cursor: pointer;
    color: #eee;
    font-size: 24px;

}
.todos-container{
    height: 300px;
    overflow: overlay;
}

.todos-container::-webkit-scrollbar {
    width: 8px;
}

.todos-container::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}

.todos-container::-webkit-scrollbar-thumb {
    background: rgb(179, 179, 179); 
    border-radius: 10px;
}
.todos-container::-webkit-scrollbar-thumb:hover {
    width:10px;
    background: #7AB2B2; 
} 


.filters{
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
}
.filter{
    color:#eee;
    padding: 5px 30px;
    border-radius: 100px;
    border: 2px solid #eee;
    transition: all 0.2s ease;
    cursor: pointer;
}
.filter.active , .filter:hover{
    background-color: #7AB2B2;
}
.delete-all{
    display: flex;
    color:#EEE;
    padding: 7px 15px;
    cursor:pointer;
    transition: all 0.2s ease;
}

.delete-all:hover{
    border-radius: 15px;
    background-color: #e2635a;
}